/* para ambos archivos */
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Raleway:wght@100&display=swap");
body .principal .textoPrincipal button, body .introduccion a button {
  padding: 10px;
  border-radius: 10px;
  margin: 30px 0 0 100px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*STYLE INDEX*/
body {
  background-color: whitesmoke;
  /*header*/
  /*main*/
  /*section*/
  /*footer*/ }
  body header {
    padding: 10px;
    border-bottom: 1px solid #232323;
    position: sticky;
    top: 0;
    backdrop-filter: blur(4px); }
    body header div .logo {
      height: 65px; }
    body header div nav div div .menu {
      font-size: 16px;
      text-transform: uppercase;
      font-family: "Raleway", sans-serif;
      font-weight: bolder;
      text-shadow: 0.5px 0.5px 0.5px grey;
      /*animacion menu*/ }
      body header div nav div div .menu li:hover {
        transform: scale(0.9);
        background-color: #232323;
        border-radius: 10px;
        color: whitesmoke; }
        body header div nav div div .menu li:hover a:hover {
          color: whitesmoke; }
  body .principal {
    background-image: url("https://www.arquitecturaydiseno.es/medio/2021/12/28/0-exterior-casa-del-agua_8b632ab3_1280x794.jpg");
    background-size: cover;
    height: 120vh;
    background-repeat: no-repeat;
    background-position-y: 10px; }
    body .principal .textoPrincipal h1 {
      font-weight: bolder;
      text-shadow: 3px 3px 2px black;
      text-transform: uppercase;
      letter-spacing: 8px;
      margin-left: 100px;
      padding-top: 200px;
      font-size: 56px;
      font-family: "Raleway", sans-serif;
      color: #f5ecec; }
    body .principal .textoPrincipal p {
      font-size: 22px;
      font-weight: bolder;
      text-shadow: 1.5px 1.5px 1px black;
      background-color: rgba(0, 0, 0, 0.3);
      font-family: "Raleway", sans-serif;
      font-style: italic;
      line-height: 30px;
      margin: 70px 450px 0 100px;
      color: #f5ecec;
      padding: 10px; }
    body .principal .textoPrincipal button {
      border-color: 1px solid black;
      background-color: black;
      color: white;
      font-size: 14px; }
    body .principal .textoPrincipal button:hover {
      transform: scale(0.9);
      background-color: whitesmoke;
      border-radius: 12px;
      color: #1a1a1a;
      border-color: whitesmoke; }
  body .introduccion p {
    font-size: 18px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    margin: 40px 300px 40px 300px;
    line-height: 30px;
    color: #1a1a1a;
    text-align: center;
    font-style: italic; }
  body .introduccion a button {
    border-color: 1px solid black;
    background-color: black;
    color: white;
    font-size: 14px; }
  body .introduccion a button:hover {
    transform: scale(0.9);
    background-color: whitesmoke;
    border-radius: 12px;
    color: #1a1a1a;
    border-color: whitesmoke; }
  body .footer {
    background-color: #232323;
    font-family: "Raleway", sans-serif;
    font-size: 14px; }
    body .footer div div .logos-footer a .logo-footer {
      height: 65px;
      margin: 20px 0 20px 0; }
    body .footer div div .logos-footer div .logoredes {
      height: 30px;
      margin: 2px; }
    body .footer .copy {
      font-size: 12px; }
